/* primary text color dark & background color */

$bandsite-black: #323232;

/* seconary text & inacitive CTA */

$silver: #afafaf;

/* Primary color light & active CTA */

$white: #ffff;

/* hover state color */

$Alabaster: #fafafa;
