/* general mixin*/

@mixin flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@mixin herobackground {
  display: flex;
  align-items: center;
  background: linear-gradient(
      to bottom,
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url(../Assets/Images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
}

/* mobile */

@mixin sectionheader {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

@mixin subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
}

@mixin bodycopy {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 300;
}

/* tablet&desktop */

@mixin TDectionheader {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 700;
}

@mixin TDsubheader {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

@mixin TDbodycopy {
  font-size: 0.875rem;
  line-height: 22px;
  font-weight: 400;
}

@mixin TDfootercopy {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

@mixin headbannnerstyle {
  background-color: $bandsite-black;
  display: flex;
}
