@use "../colors" as *;
@use "../breakpoints" as breakpoints;
@use "../mixins" as *;

/* styles for header for mobile */

/* headbanner */

@include breakpoints.small{

  .headbanner {
  background-color: $bandsite-black;
  padding: 3% 0 0 0;
  display: flex;
    flex-direction: column;
    align-items: center;


&__logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
}

&__container {
  display: flex;
  width: 100%;
}

&__text{
 text-decoration: none;
  width: 50%;
  text-align: center;
  padding-bottom: 0.5rem;
    color: $silver;
}


&__text:hover {
  color: $white;
  font-weight: 600;
  border-bottom: 0.1875rem solid $white;
}
}
}

/* hero */

@include breakpoints.small{
.hero {
 @include herobackground;
width: 100%;  
 height:34vh;


&__text {
  font-size: 1.5rem;
  color: $white;
  font-weight: 700;
  padding: 1rem;
}}}

/* styles for header on tablet device */

/* headbanner */ 

@include breakpoints.medium{
.headbanner{
background-color: $bandsite-black;
display: flex;
padding: 1.3rem 2.25rem 0 2.25rem;

&__logo {
  max-width: 7.5rem;
  max-height: 1.25rem;
  padding-right: 1.8rem;
}

&__container {
  display: flex;
  justify-content: space-around;
  padding: 0 4%;
}

&__text{
  text-decoration: none;
margin-right: 2rem;
padding-bottom: 1.3rem;
  color: $silver;
}

&__text:hover {
  color: $white;
  font-weight: 600;
  border-bottom: 0.1875rem solid $white;
}
  }
}

/* hero */

@include breakpoints.medium{
.hero {
  @include herobackground;
    width: 100vw;
    height:60vh;


&__text {
 font-size: 3.75rem;
 font-weight: 700;
 line-height: 4.25rem;
  color: $white;
  padding: 2.25rem;
}}}

/* styles for header on desktop */

@include breakpoints.large{
 .headbanner{
padding: 1.5rem 10vw 0 10vw;
  }
}

/* hero */

@include breakpoints.large{
.hero {
  @include herobackground;
    width: 100vw;
    height:80vh;


&__text {
  padding: 10vw;
}}}

